*.pyc
.cache/
.coverage
.ipynb_checkpoints

.DS_Store
.env
.venv
env/
venv/
VENV/
ENV/
glove.6B.100d.txt
*__pycache__*
.vscode
.vector_cache
.vector_cache/*
/.vector_cache/*

*.idea*
*.history
data/*.*
data/
/data
